#!/usr/bin/env python

PACKAGE='camera_aravis'

from dynamic_reconfigure.parameter_generator_catkin import *
from dynamic_reconfigure.msg import SensorLevels

gen = ParameterGenerator()


auto_enum           = gen.enum([gen.const("Off",                    str_t, "Off",           "Use Manual Settings"),
                                gen.const("Continuous",             str_t, "Continuous",    "Recalc Continually") ],
                                "Automatic Settings")
awb_enum            = gen.enum([gen.const("AWB_Off",                    str_t, "Off",           "Disables white balancing feature."),
                                gen.const("AWB_Continuous",             str_t, "Continuous",    "White balancing is constantly adjusted by the device."),
                                gen.const("AWB_Preset3200K",            str_t, "Preset3200K",   "Apply white balance with color temperature 3200K."),
                                gen.const("AWB_Preset5000K",            str_t, "Preset5000K",   "Apply white balance with color temperature 5000K."),
                                gen.const("AWB_Preset6500K",            str_t, "Preset6500K",   "Apply white balance with color temperature 6500K."),
                                gen.const("AWB_Preset7500K",            str_t, "Preset7500K",   "Apply white balance with color temperature 7500K."), ],
                                "Balance White Auto")                                
                                

gen.add("ExposureAuto",            str_t,    SensorLevels.RECONFIGURE_RUNNING, "Exposure Auto",                    "Continuous", edit_method=auto_enum)
gen.add("ExposureAutoControlMin",  double_t, SensorLevels.RECONFIGURE_RUNNING, "Exposure Auto Control Min (us)",   100.0, 100.0, 9228.0)
gen.add("ExposureAutoControlMax",  double_t, SensorLevels.RECONFIGURE_RUNNING, "Exposure Auto Control Max (us)",   244000.0, 101.0, 499118.0)
gen.add("ExposureTime",            double_t, SensorLevels.RECONFIGURE_RUNNING, "Exposure time (us)",               2000.0, 0, 499118.0)

gen.add("GainAnalogAll",           double_t, SensorLevels.RECONFIGURE_RUNNING, "Gain AnalogAll",                   1.0, 1.0, 16.0)
gen.add("GainAuto",                str_t,    SensorLevels.RECONFIGURE_RUNNING, "Gain Auto",                        "Off", edit_method=auto_enum)
gen.add("GainAutoControlMin",      double_t, SensorLevels.RECONFIGURE_RUNNING, "Gain Auto Control Min",            1.0, 1.0, 15.0)
gen.add("GainAutoControlMax",      double_t, SensorLevels.RECONFIGURE_RUNNING, "Gain Auto Control Max",            16.0, 2.0, 16.0)

gen.add("BalanceWhiteAuto",        str_t,    SensorLevels.RECONFIGURE_RUNNING, "Balance White Auto",               "Continuous", edit_method=awb_enum)
gen.add("GainDigitalRed",          double_t, SensorLevels.RECONFIGURE_RUNNING, "Gain DigitalRed",                  1.0, 0.447, 5.624)
gen.add("GainDigitalBlue",         double_t, SensorLevels.RECONFIGURE_RUNNING, "Gain DigitalBlue",                 1.0, 0.447, 5.624)
gen.add("AWBControlSpeed",         int_t,    SensorLevels.RECONFIGURE_RUNNING, "AWB Control Speed",                4, 1, 8)

gen.add("ALCReference",            int_t,    SensorLevels.RECONFIGURE_RUNNING, "ALC Reference",                    50, 30, 95)
gen.add("ALCControlSpeed",         int_t,    SensorLevels.RECONFIGURE_RUNNING, "ALC Control Speed",                4, 1, 8)

gen.add("AcquisitionFrameRate",    double_t, SensorLevels.RECONFIGURE_RUNNING, "Framerate (fps)",                  2.0, 0.125, 11.432883)

gen.add("Gamma",                   double_t, SensorLevels.RECONFIGURE_RUNNING, "Gamma",                            0.45, 0.45, 1.0)


exit(gen.generate(PACKAGE, "camera_aravis", "CameraAravisVis"))
